
        * {
            margin: 0;
            padding: 0;
        }
        .big {
            height: 500px;
            width: 500px;
            background-color: pink;
        }
        .small {
            height: 300px;
            width: 300px;
            background-color: red;
        }
    